/*-- scss:defaults --*/

// Buttons

$btn-padding-y-sm: .18rem;
$btn-padding-x-sm: .48rem;
$btn-font-size-sm: .9rem;

/*-- scss:rules --*/

/* schedule */

.week-x-box {
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
  border-radius: 3px;
  box-shadow: 0 0 0.5rem $gray-300;
  
  .daily-sched {
    display: grid;
    grid-template-columns: 1fr 3fr;
    //row-gap: 1px; 
    padding: 3px;
    
    .date-cell {
      border-bottom: 1px solid $gray-300;
      padding: 2px;
    }
    
    .materials-cell {
      border-bottom: 1px solid $gray-300;
      padding: 2px;
      
      .daily-topic {
        font-size: 1em;
      }
      
      .PS-btn {
        
      }
    }
    
    .date-cell:nth-last-child(-n+2) {
      border-bottom: none; /* Removes the border from the last two items (the last row) */
    }

    .materials-cell:nth-last-child(-n+2) {
      border-bottom: none; /* Removes the border from the last two items (the last row) */
    }
  }
  
  .resources {
    border-left: 1px solid $gray-300;
    padding: 3px;
  }
  
}

@media (max-width: 768px) {

.week-x-box {
  grid-template-columns: 1fr;
  
  .daily-sched {
    grid-template-columns: 1fr;
    
    .date-col {
      border-bottom: none
    }
  }
  
  .resources {
    border-left: none;
    border-top: 1px solid $gray-300;
  }
}
}
